$lightest-gray: #f7f7f7;
$light-gray: #b1bfc4;
// $gray: #999;
// $dark-gray: #6f6f6f;

// $lightest-blue: #f0f8fc;
// $light-blue: #6288a5;
$green: #21ce99;
$light-green: #47F4BB;
// $dark-blue: #4d7b9f;
// $darkest-blue: #265e8b;
