@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto:300,400,500');

$serif: georgia,"times new roman",times,serif;
$sans-serif: arial, helvetica, sans-serif;
$roboto: 'Roboto', sans-serif;
$roboto-condensed: 'Roboto Condensed', sans-serif;
$text: 'Roboto Condensed', sans-serif;
