@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto:300,400,500');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');

$serif: georgia,"times new roman",times,serif;
$sans-serif: arial, helvetica, sans-serif;
$roboto: 'Roboto', sans-serif;
$roboto-condensed: 'Roboto Condensed', sans-serif;
$thin: 'Open Sans', sans-serif;
$text: 'Roboto Condensed', sans-serif;
