.about-company {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.about-header {
  padding-bottom: 20px;
  border-bottom: 2px solid $lightest-gray;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: flex-end;
}

.about-header h2 {
  margin-bottom: 0;
}

.about-header span {
  color: $light-gray;
}

.about-header span:hover {
  cursor: pointer;
  color: $green;
  font-weight: bold;
}

.company-tag {
  padding: 15px;
  background-color: $lightest-gray;
  color: $green;
  font-weight: bold;
  border-radius: 10px;
  margin-right: 12px;
  margin-bottom: 10px;
  font-size: 14px;
  transition: all 200ms;
}

.company-tag:hover {
  color: $light-green;
  cursor: default;
}

.tag-div {
  width: 70%;
  margin-bottom: 16px;
}

.bio-hidden {
  line-height: 24px;
  font-size: 16px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 3px;
}

.bio-shown {
  line-height: 24px;
  font-size: 16px;
  margin-top: 3px;
}


.company-facts-container {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.company-fact {
  width: 100px;
}

.company-fact h4 {
  font-weight: bold;
  line-height: 24px;
}
