.app-body {
  display: flex;
  flex-direction: column;
  position: relative;
}

.app-main {
  justify-content: center;
  height: 120%;
}

.page {
  position: absolute;
  width: 80%;
  left: 10%; // (100% - width) / 2
  top: 100px;
  display: flex;
  justify-content: space-between;
  height: 1200px;
}

@media only screen and (min-width: 1650px)  {
  .page {
    width: 60%;
    left: 20%;
  }
}

.main-content {
  flex: 5;
  margin-right: 6%;
  box-sizing: border-box;
}

.sidebar {
  width: 25%;
  min-height: 400px;
  background-color: white;
  box-sizing: border-box;
  box-shadow: 0 0 30px rgba(0,0,0,0.1);
  border-radius: 6px;
  border: 1px solid white;
  padding: 10px 20px;
  overflow: visible;
}

@media only screen and (max-width: 1650px)  {
  .sidebar { width: 30%; }
}


.sidebar-header {
  padding: 18px 0;
  border-bottom: 1px solid $lightest-gray;
  justify-content: space-between;
}
