.chart {
  border-bottom: 3px solid $lightest-gray;
  height: 520px;
  width: 100%;
  position: relative;
}

@media only screen and (max-width: 1650px)  {
  .chart {
    height: 520px;
  }
  .chart-home {
    height: 470px;
  }
}

// @media only screen and (max-width: 1650px)  {
// }

.account-info h2 {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 36px;
}

.company-info h2 {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 36px;
}

.company-info h1 {
  margin: 0;
  letter-spacing: 0;
  font-size: 40px;
  line-height: 35px;
  margin-bottom: 16px;
  text-indent: -4px;
}

.delta {
  display: flex;
}

.delta span {
  color: $light-gray;
}

.chart-overlay {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-content: space-between;
  height: 520px;
  position: absolute;
}

.chart-overlay-home {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-content: space-between;
  height: 470px;
  position: absolute;
}

.chart-history-container {
  position: relative;
  width: 100%;
}

.chart-history {
  padding-bottom: 10px;
  position: absolute;
  bottom: 2.5px;
  left: 0;
}



.chart-history a {
  margin-right: 30px;
  padding-bottom: 10px;
  width: 0;
  font-size: 14px;
  border-bottom: 3px solid $lightest-gray;
  transition: .05s cubic-bezier(0, 0.41, 0.96, 0.15);
}

.chart-history-active {
  color: $green;
}

.chart-history a:hover {
  width: 100%;
  cursor: pointer;
  border-bottom: 3px solid $green;
}

.chart-placeholder {
  position: absolute;
  z-index: 100;
  top: 75px;
}


.slider {
  position: absolute;
  display:block;
  left: 0;
  top:90%;
  margin:0 auto;
  height: 2px;
  background-color: #000;
  width: 0%;
  transition: width 1s;
}

.watch-button {
  display: flex;
  justify-content: center;
  position: absolute;
  right: 0;
  width: 150px;
  font-size: 14px;
  padding: 12px 20px 10px 14px;
  border-radius: 20px;
  font-weight: bolder;
  transition: all 200ms;
}

.watch-button:hover {
  background-color: $light-green;
  color: white;
}

.watching {
  background-color: $green;
  color: white;
}

.not-watching {
  background-color: $lightest-gray;
  color: black;
}

.fa-eye {
  width: 20px;
  height: 20px;
  font-size: 30px;
}

.line-chart-container {
  width: 100%;
  position: absolute;
  top: 120px;
  z-index: 300;
}

.line-chart-container-home {
  width: 100%;
  position: absolute;
  top: 70px;
  z-index: 300;
}


.sk-circle {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
}
.sk-circle .sk-child {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.sk-circle .sk-child:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: $light-gray;
  border-radius: 100%;
  -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
          animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
}
.sk-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg); }
.sk-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg); }
.sk-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg); }
.sk-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
          transform: rotate(120deg); }
.sk-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
      -ms-transform: rotate(150deg);
          transform: rotate(150deg); }
.sk-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }
.sk-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
      -ms-transform: rotate(210deg);
          transform: rotate(210deg); }
.sk-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
      -ms-transform: rotate(240deg);
          transform: rotate(240deg); }
.sk-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg); }
.sk-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
      -ms-transform: rotate(300deg);
          transform: rotate(300deg); }
.sk-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
      -ms-transform: rotate(330deg);
          transform: rotate(330deg); }
.sk-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s; }
.sk-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
          animation-delay: -1s; }
.sk-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s; }
.sk-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s; }
.sk-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s; }
.sk-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s; }
.sk-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s; }
.sk-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s; }
.sk-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s; }
.sk-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s; }
.sk-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s; }

@-webkit-keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  } 40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  } 40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.spinner-chart-container {
  width: 100%;
  position: absolute;
  top: 120px;
  z-index: 300;
}

#homeChart {
}
