.home-page {
  position: absolute;
  height: 1200px;
  width: 80%;
  left: calc(10%);
  top: 100px;
  display: flex;
  justify-content: space-between;
}

.home-main-content {
  flex: 5;
  margin-right: 6%;
  box-sizing: border-box;
}

.home-sidebar {
  width: 25%;
  background-color: white;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 6px;
  border: 1px solid white;
  padding: 10px 20px;
}

.sidebar-header {
  padding-bottom: 18px;
  border-bottom: 1px solid $lightest-gray;
  justify-content: space-between;
}
