.home-page {
  position: absolute;
  width: 80%;
  left: calc(10%);
  top: 100px;
  display: flex;
  justify-content: space-between;
}

.home-main-content {
  flex: 5;
  margin-right: 6%;
  box-sizing: border-box;
}

.home-sidebar {
  width: 25%;
  min-height: 400px;
  height: auto;
  background-color: white;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 6px;
  border: 1px solid white;
  padding: 10px 20px;
}

.sidebar-header {
  padding: 18px 0;
  border-bottom: 1px solid $lightest-gray;
  justify-content: space-between;
}

.stock-index-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  box-sizing: border-box;
  width: 100%;
}

.stock-index-item div {
  display: flex;
  flex-direction: column;
}

.stock-num-shares {
  color: $light-gray;
  padding-top: 6px;
  font-size: 10px;
}

.chart-thumb {
  width: 30%;
  height: auto;
}

.stock-price {
  align-items: center;
  text-align: center;
  width: 90px;
  line-height: 30px;
  font-size: 18px;
}


@media only screen and (max-width: 1400px)  {
  .home-sidebar { width: 35%; }
}
